.demo7 {
  background-color: #1b1b1b;
  position: relative;
  width: 300px;
  height: 300px;
}

.demo7-ball {
  width: 50px;
  height: 50px;
  border-radius: 99px;
  position: absolute;
  border: 1px solid lightblue;
}
